<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScheduleManagerApp.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScheduleManagerApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScheduleManagerApp.AppSettings>
            <setting name="AADTenant" serializeAs="String">
                <value>mediaschedulertest.onmicrosoft.com</value>
            </setting>
            <setting name="AADClientId" serializeAs="String">
                <value>6399f87f-14a9-4977-9e4b-132ff72384ac</value>
            </setting>
            <setting name="AADSecret" serializeAs="String">
                <value>GSmCtTK918JgqR0qFtmbOGRWNPKj7bmu9Ta9QY6NK7A=</value>
            </setting>
            <setting name="ScheduleManagerEndpoint" serializeAs="String">
                <value>http://localhost:30420/</value>
            </setting>
            <setting name="Configured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AADAppIdUri" serializeAs="String">
                <value>http://mediacschedulermanager/</value>
            </setting>
        </ScheduleManagerApp.AppSettings>
        <ScheduleManagerApp.Settings>
            <setting name="AADTenant" serializeAs="String">
                <value>mediaschedulertest.onmicrosoft.com</value>
            </setting>
            <setting name="AADClientId" serializeAs="String">
                <value>6399f87f-14a9-4977-9e4b-132ff72384ac</value>
            </setting>
            <setting name="AADSecret" serializeAs="String">
                <value>GSmCtTK918JgqR0qFtmbOGRWNPKj7bmu9Ta9QY6NK7A=</value>
            </setting>
            <setting name="ScheduleManagerEndpoint" serializeAs="String">
                <value>http://localhost:30420/</value>
            </setting>
        </ScheduleManagerApp.Settings>
    </userSettings>
</configuration>